*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, body {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #10002B;
}

.app-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-container > footer {
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0;
}

.app-container > footer > small {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-wrapper {
  width: 800px;
  padding: 2em;
  border: 2px solid #5A189A;
  border-radius: 8px;
  background-color: #240046;
  color: #FFF;
  text-align: center;
}

.content-wrapper h1, 
.content-wrapper h2 {
  color: #9D4EDD;
  font-weight: 300;
  text-align: start;  
  margin-bottom: .5em;
}

.content-wrapper > h1 {
  font-size: 4.8rem;
}

.content-wrapper > form {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.content-wrapper > form > input,
.content-wrapper > form > button {
  padding: .75em;  
  background: none;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: "Albert Sans", sans-serif;
}

.content-wrapper > form > input {
  flex: 1;
  border: 2px solid #5A189A;
  color: #FFF;
}

.content-wrapper > form > button {
  border: 2px solid transparent;
  color: #9D4EDD;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 200ms;
}

.content-wrapper > form > input:focus,
.content-wrapper > form > button:focus {
  outline: none;
  border-color: #E0AAFF;
}

.content-wrapper > form > button:hover {
  color: #E0AAFF;
}

.content-wrapper i {
  margin-right: 4px;
}

.content-wrapper h2 {
  font-size: 3.2rem;
}